@model ProductSearchCondition
@{
    ViewBag.Title = "Quản lý mặt hàng";
}
<div class="box box-primary">
    <div class="box-body">

        <!-- Form tìm kiếm -->
        <form id="formSearch" action="~/Product/Search" method="get" data-result="#searchResult">

            <input type="hidden" asp-for="PageSize" />

            <div class="row">

                <div class="col-sm-3">
                    <label>Loại hàng:</label>
                    <select asp-for="CategoryID" class="form-control">
                        <option value="0">-- Chọn loại hàng --</option>
                        @foreach (var c in SV22T1080075.BusinessLayers.CommonDataServices.CategoryDB.ListAsync().Result)
                        {
                            <option value="@c.CategoryID">@c.CategoryName</option>
                        }
                    </select>
                </div>

                <div class="col-sm-3">
                    <label>Nhà cung cấp:</label>
                    <select asp-for="SupplierID" class="form-control">
                        <option value="0">-- Chọn nhà cung cấp --</option>
                        @foreach (var s in SV22T1080075.BusinessLayers.CommonDataServices.SupplierDB.ListAsync().Result)
                        {
                            <option value="@s.SupplierID">@s.SupplierName</option>
                        }
                    </select>
                </div>

                <div class="col-sm-1">
                    <label>Giá từ:</label>
                    <input asp-for="minPrice" class="form-control" />
                </div>

                <div class="col-sm-1">
                    <label>đến:</label>
                    <input asp-for="maxPrice" class="form-control" />
                </div>

                <div class="col-sm-4">
                    <label>Tên mặt hàng cần tìm:</label>
                    <div class="input-group">
                        <input asp-for="SearchValue" class="form-control" />

                        <div class="input-group-btn">
                            <button class="btn btn-info" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <a href="~/Product/Create" class="btn btn-primary" style="margin-left:5px">
                                <i class="fa fa-plus"></i> Bổ sung
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <!-- Nơi hiển thị kết quả -->
        <div id="searchResult"></div>

    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {

            $("#formSearch").submit(function (e) {
                e.preventDefault();
                searchData(1);
            });

            searchData(@Model.Page);
        });

        function searchData(page) {

            var url = $("#formSearch").prop("action");
            var method = $("#formSearch").prop("method");
            var container = $("#formSearch").data("result");
            var submitData = $("#formSearch").serializeArray();

            submitData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                method: method,
                data: submitData,
                success: function (data) {
                    $(container).html(data);
                }
            });
        }
    </script>
}
